each video in videos
  .media
    .media-left
      a(href="/music/"+video.slug)
        img.media-object(src=video.img,alt=video.title)
    .media-body
        h4=video.title  
        p=video.artist||""
