each video in videos
  .media
    .media-left
      a(href="/music/"+video.title)
        img.media-object(src=(video.img||'https://i.ytimg.com/vi/'+ video.videoID + '/sddefault.jpg'),alt=video.title)
    .media-body
        h4=video.title  
