doctype html
html(lang='en')
  head
    include head.pug
    style.
      #horizontal-slider-container {
        overflow-x:scroll;
        height:216px;
      }
      #horizontal-slider {
        width: 1000px;
      }
      #horizontal-slider > div {
        width: 200px;
        display: inline-block;
      }
      a.thumbnail {
        height: 200px;
        background: none;
        margin: 5px;
        border: none;
      }
  script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3799871912047592",
      enable_page_level_ads: true
    });
  body
    include nav-bar.pug
    .container-fluid
      .row
        .col-md-8.col-xs-12
          h2 Latest Audio
          #horizontal-slider-container
            #horizontal-slider
      .row
        .col-md-4
          #main-carousel.carousel.slide(data-ride="carousel")
    include footer.pug
    script(src='/js/ie10-viewport-bug-workaround.js')
    script(src='/js/home.js')
