doctype html
html(lang='en')
  head
    include head.pug
    style.
      #horizontal-slider-window {
        overflow-x:scroll;
        height:216px;
        overflow-y: hidden;
      }
      #horizontal-slider {
        width: 2000px;
      }
      #horizontal-slider > div {
        width: 200px;
        display: inline-block;
      }
      a.thumbnail {
        height: 200px;
        background: none;
        margin: 5px;
        border: none;
      }
      
      #rankings img.media-object {
        width: 100px;
      }
  script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3799871912047592",
      enable_page_level_ads: true
    });
  body
    include nav-bar.pug
    .container-fluid
      .row
        #left.col-md-8.col-xs-12
          .row
            .col-md-12
              h2 Latest Audio
              #horizontal-slider-window
                #horizontal-slider
          .row
            .col-md-6
              h2 Latest Video
              #main-carousel.carousel.slide(data-ride="carousel")
            .col-md-6
              h2 Featured
              div.embed-responsive.embed-responsive-4by3
                iframe.embed-responsive-item(src="http://www.youtube.com/embed/cWx8tUtfdeE?enablejsapi=1&amp;amp;showinfo=0&amp;amp;color=white&amp;amp;modestbranding=1&amp;amp;origin=http://localhost:3000&amp;amp;playsinline=1&amp;amp;rel=0&amp;amp;controls=0" frameborder="0")
        .col-md-4.col-xs-12
          h2 Weekly Top Ten
          #rankings
    include footer.pug
    script(src='/js/ie10-viewport-bug-workaround.js')
    script(src='/js/home.js')
