doctype html
html(lang='en')
  head
    include head.pug
    script(src='/js/diff.js')
    script.
      var mediaFromServer="#{mediaID}";
    link(href='/css/edits.css', rel='stylesheet')
  body
    include nav-bar.pug
    .container-fluid#root
    include footer.pug
    script(src='/history.bundle.js')
    //script(src='/edits.js', type='text/babel')