nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        | kezie
    #navbar.navbar-collapse.collapse.navbar-right
      ul.nav.navbar-nav
        li
          a.accent(href="/new_music") Add Lyrics
        if user
          li.dropdown
            a#userDropdown.user(href="#",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              div.user-avatar(style="background-image: url(" + user.photo + ");")
              span.glyphicon.glyphicon-menu-down(aria-hidden="true")
            ul.dropdown-menu(aria-labelledby="userDropdown")
              li
                a(href="#") #{user.displayName}
              li
                a(href="/logout") Logout
        else
          li
            a(href="#loginModal",data-toggle="modal") Login
    ul.nav.navbar-right.mobile-buttons
      li
        span#search-root
        span.glyphicon.glyphicon-search.hidden-xs
      li#nav-mobile-menu.visible-xs-inline
        button#menuDropDown(href="#",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
          span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true")
        .dropdown-menu(aria-labelledby="menuDropDown")
          ul
            if user
              li.login-info
                  a(href="#") #{user.displayName}
                  div.user-avatar(style="background-image: url(" + user.photo + ");")
                  a(href="/logout") Logout
            else
              li
                a(href="#loginModal",data-toggle="modal") Login
            li
              a.accent(href="/new_music") Add Lyrics
#loginModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4#myModalLabel.modal-title Login
      .modal-body
        a(href="/login/facebook") Login with Facebook
        br
        a(href="/login/twitter") Login with Twitter
script(src='/search.js', type='text/babel')
script(type='text/babel').
  ReactDOM.render(
    <Search />,
    document.getElementById('search-root')
  );
