nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        | Kedu
        span Ije
    #navbar.navbar-collapse.collapse
      form.navbar-form.navbar-left
        span.glyphicon.glyphicon-search(aria-hidden='true')
        |
        input.form-control(type='text', placeholder='Search Artists, Lyrics, and more...')
      ul.nav.navbar-nav.navbar-right
        if user
          li
            a.user(href="#")
              div.user-avatar(style="background-image: url(" + user.photo + ");")
              span=user.displayName
          li
            a(href="/logout") Logout
        else
          li
            a(href="#loginModal",data-toggle="modal") Sign In
          li
            a(href="#about") Sign Up
        li
          a.accent(href="/new_music") Add Lyrics
#loginModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4#myModalLabel.modal-title Login
      .modal-body
        a(href="/login/facebook") Login with Facebook
        br
        a(href="/login/twitter") Login with Twitter
