doctype html
html(lang='en')
  head
    include head.pug
    style.

  body
    include nav-bar.pug
    .container-fluid
      .row
        .col-md-12#root
    script.
      var changesetID = "#{changesetID}";
    script(src="/new_music.bundle.js")
    script(src="https://apis.google.com/js/client.js?onload=googleApiClientReady")
