<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico?v=2">

    <title>KeduIje?</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template >
    <link href="/css/jumbotron-narrow.css" rel="stylesheet"-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
      var songID = "<%= videoID %>";
    </script>
    <link href="/css/player.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/img/ki_logo.svg" alt="KeduIje Logo"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-left">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <input type="text" class="form-control" placeholder="Search Artists, Lyrics, and more...">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign In</a></li>
          <li><a href="#about">Sign Up</a></li>
          <li><a href="#create" class="accent">Add Lyrics</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-7">
           <div id="player" >
            </div>


            <div id="lyricInput" class="input-group">
              <input id="lyric" type="text" class="form-control" placeholder="Transcibe Lyrics...">
              <span class="input-group-btn">
                <button id="addLyricBtn" class="btn btn-default" type="button">Add Lyrics</button>
              </span>
            </div>

        </div>
        <div class="col-md-5">
          <div id="lyricsDisplay">
          </div>
        </div>
      </div>


      <footer class="footer">
        <p>&copy; 2017 KeduIje, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/player.js"></script>
    <script src="https://www.youtube.com/iframe_api" async></script>
  </body>
</html>
