doctype html
html(lang='en')
  head
    include head.pug
    script(src='/js/diff.js')
    style.
      .removed {
        text-decoration: line-through;
        color: red;
      }
      .added {
        color: green;
      }
  body
    include nav-bar.pug
    .container-fluid#root
    include footer.pug
    script(src='/edits.js', type='text/babel')
    script(type='text/babel').

      ReactDOM.render(
        <Edits 
        />,
        document.getElementById('root')
      );
