doctype html
html(lang='en')
  head
    title Tests
    include head.pug
    link(href='/css/media-player.css', rel='stylesheet')
    link(href='/css/lyric-editor.css', rel='stylesheet')
    link(href='https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css', rel='stylesheet')
    script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
  body
    #mocha
    #react
    script(src="https://cdn.rawgit.com/jquery/jquery/2.1.4/dist/jquery.min.js")
    script(src='https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.js')
    script.
      mocha.setup({
        ui: 'bdd',
        ignoreLeaks: true
      });
    script(src="/test.bundle.js")
    script.
      mocha.run();

