body {
  background-color: Black;
  color: White;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, strong {
  font-family: 'Baloo', cursive;
}

.navbar{
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    margin-bottom: 0;
    background: none;
    border: none;

}

.navbar-nav>li>a.user {
  padding-left: 50px;
}

  .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 10px;

}

#navbar .navbar-nav>li>a.accent {
  color: #5D41AE;
  font-weight: bold;
}

#navbar .navbar-nav>li>a:hover {
  background-color: #d9e4cd;
}

.navbar .navbar-brand {
    padding: 0px 40px;
    font-family: 'Baloo';
    line-height: 61px;
    font-size: 28px;
    color: #5D41AE;
}
.navbar .navbar-brand span {
    color: #7ED321;
}

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:0px solid #ccc;
}

nav .glyphicon {
  margin-left: 5px;
}
