.color1 {
  background-color: #5d41ae; /* purple */
}
.color2 {
  background-color: #7ed321; /* green */
}
.color3 {
  background-color: #000505; /* black */
}
.color4 {
  background-color: #3B3355; /* grayish indigo */
}
.color5 {
  background-color: #f5bb00; /* gold */
}


body {
  background-color: White;
  color: #3B3355;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, strong {
  font-family: 'Baloo', cursive;
}

.navbar{
    border-radius: 0;
    letter-spacing: 0.5px;
    font-size: 12px;
    margin-bottom: 0;
    border: none;
    height: 50px;
    color: #3B3355;
    background-color: White;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.44);
    z-index: 50;
    position: absolute;
    width: 100%;
}

#nav-mobile-menu {
  float: right;
  margin: 10px;
}


  #nav-mobile-menu .dropdown-menu{
    height: 100vh;
    left: 100%;
    right: 0;
    overflow-x: hidden;
    transition: left 1s;
    display: block;
    min-width: inherit;
  }

    #nav-mobile-menu.open>.dropdown-menu {
        left: 30% ;
    }

    #nav-mobile-menu .dropdown-menu ul{
      width: 70vw;
    }

  #nav-mobile-menu .user-avatar{
    margin: 10px auto;
    height: 100px;
    width: 100px;
    position: initial;
    display: block;

  }

.navbar-nav>li>a.user {
  padding-left: 50px;
}

  .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 2px black;


}

.navbar li{
  text-transform: uppercase;
  font-size: 16px;
  color: #3B3355; /* grayish indigo */
  border-left: 1px solid #e4dfdf;
}

#navbar .navbar-nav>li>a.accent {
  color: #5D41AE;
  font-weight: bold;
}

#navbar .navbar-nav>li>a:hover {
  background-color: #e7e7e7;
}

.navbar .navbar-brand {
    padding: 0px 40px;
    font-family: 'Baloo';
    line-height: 61px;
    font-size: 60px;
    letter-spacing: -4px;
    /*text-shadow: 1px 1px 2px black;*/
    color: #5d41ae;
  }
  .navbar .navbar-brand:hover {
      color: #3B3355;
  }

input[type="text"] {
outline: none;
box-shadow:none !important;
border:0px solid #ccc;
height: 50px;
width: 100px;
transition: width 1s;
}

  *::-webkit-input-placeholder {
    text-transform: uppercase;
  }

nav .glyphicon {
  margin-left: 5px;
}

nav .glyphicon-search {
  position: absolute;
    right: 10px;
    top: 0;
    line-height: 50px;
    color: gray;
}

body > .container-fluid{
  padding-top: 50px;
  min-height: 100vh;
}

.footer {
  background-color: #f5bb00; /* grayish indigo */
  color: #000505;
  padding: 15px;
text-align: center;
}

  .footer a {
    color: #3B3355;
  }


  .kezie-editor .thumbnail{
    display: inline-block;
  }

  .kezie-editor .thumbnail.selected {
    border: 2px #f5bb00 solid;
  }
  .kezie-editor .thumbnail>img {
    height: 150px;
  }

  .kezie-editor .images-container {
    height: 210px;
    overflow-y: scroll;
  }

.ui-draggable {
  cursor: move;
}
