
.editor-bg-color {
  background-color: rgba(93, 65, 174, 0.8);
  fill: rgba(93, 65, 174, 0.8);
}

.kezie-editor {
  padding: 20px;
  position: absolute;
  /* bottom: 30%; */
  left: -5%;
  top: 10%;
  width: 90%;
}

.kezie-editor button {
  font-family: "Baloo";
  width: 100%;
    color: White;
}

  .kezie-editor a#playLyric {
    background: none;
    border: none;
    color: white;
    text-shadow: 0px 2px 4px black;
    font-size: 35px;
    }

.kezie-editor .editor-input{
  background-color: #A087E7 !important;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border-color: white;
  border-width: 1px;
  font-size: 18px;
}

.kezie-editor input::-webkit-input-placeholder{
  color: rgba(93, 65, 174, 0.8);
  font-size: 18px;
}

.kezie-editor > form > div {
 margin: 10px 0;
}

#save-lyric-btn {
  background-color: #7ED321;
}

#cancel-dialog-btn {
  background: none;
  border: White 3px solid;
}

.kezie-editor .spinner-container{
  margin: 10px 0;
}

.kezie-editor .label{
  color: White;
font-family: "Baloo";
border-bottom: White 5px solid;
font-size: 18px;
padding: 0;
border-radius: 0;
margin-top: 0;
display: inline-block;
vertical-align: middle;
margin-bottom: 15px;
}

.kezie-editor .inner-spinner {
  background: none;
  margin: 0 10px;
  border: none;
  display: inline-block;
}
  .kezie-editor .display {
    color: White;
    font-family: "Baloo";
    font-size: 36px;
    display: inline-block;
    width: 80px;
    padding-right: 10px;
  }

  .kezie-editor a.spinner-button{
    background: none;
    border: none;
    position: absolute;
    color: White;
    cursor: pointer;
    outline: 0;
    font-size: 20px;

  }

.kezie-editor .originalText {
  color: Yellow;
  font-style: italic;
}

.kezie-editor #tail {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    height: 55px;
}
