

.song-info {
  margin: 5px 25px;
  position: absolute;
  bottom: 0;
}

  .song-info .artist {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .song-info .artist {
    margin: 0;
  }

.embed-responsive{
  /*margin-top: 50px;*/
  position: absolute; /*for now */
}

#lyric-column{
   padding-left: 0px;
   padding-right: 0px;
   background-color: white;
   box-shadow: 2px 0px 5px black;
   color: #3B3355;
/*  border: 1px solid white;
  border-width: 0 3px; */
}

#lyricsDisplay {
  /*padding-top: 50px; */
  color: #3B3355;
  position: relative;
/*  background: rgba(0, 0, 0, 0.8); */
}

  #lyricsDisplay .lyric-line {
    cursor: pointer;
    font-size: 18px;
    margin: 0;
  }

  #lyricsDisplay .lyric-line.hovered {
      background-color: rgba(126, 211, 33, 0.25);
    }

  #lyricsDisplay h4, #lyricsDisplay .lyric-line p {
    padding-left: 30px;
    position: relative;
  }

  #lyricsDisplay h4 {
    margin-top: 1.4em;
  }

    #lyricsDisplay .lyric-line p{
      margin: 0;
    }

  #lyricsDisplay .current {
      color: #7ED321;
  }

  #lyricsDisplay .glyphicon-pencil{
    opacity: 0;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 5px;
  }

  #lyricsDisplay .add-heading-btn{
    top: 2px;
    font-size: 0.6em;
    opacity: 0;
    color: yellow;
    width: 100%;
    left: 0;
    text-align: center;
    text-decoration: none !important;
    display: block;
    padding: 0.4em;
  }


  #buttons button{
    height: 90px;
    width: 120px;
    color: White;
    weight: bold;
  }

#edit-mode-btn{
  position: absolute;
  border: solid 2px White;
  background-color: rgba(255, 255, 255, 0.5);
  color: White;
  top: 5px;
  right: 5px;
  padding: 5px 15px 5px 5px;
}

.artwork{
  width: 100%;
  padding-top: 40%;
  display: inline-block;
  background-size: cover;
  background-position-y: center;
  position: relative;
}
  .artwork .gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+69 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  .artwork .play-button {
    width: 100px;
    height: 100px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.51);
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.51);
    line-height: 100px;
  }

    @media (min-width: 768px) {
      .artwork button:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

.affix-top{
  visibility: hidden;
  position: absolute;
}

.affix{
  left: 0;
  top: -80px;
  visibility: visible;
}

.affix-top.transition{
  position: fixed;
  visibility: visible;
  left: 0;
}

.info-bar {
  width: 100%;
  text-align: center;
  z-index: 10;
  background: rgba(93, 65, 174, 0.75);
  height: 80px;
  color: white;
  padding-top: 5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

  .info-bar .title{
    font-size: 20px;
    margin-bottom: 0;
    font-family: 'Baloo', cursive;
  }

  .info-bar .artist{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
  }

.info-bar.video-playback {
  background: rgba(93, 65, 174, 1);
  z-index: 55;
  top: 0px;
  visibility: visible;
  position: fixed;
}

@media (min-width: 768px) {
.controls {

  }
}

.play-button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: white 2px solid;
  background: none;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  font-size: 20px;
  text-align: center;
  outline: none !important;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  line-height: 45px;
}

  .play-button .glyphicon{
    top: 0;
  }


.seeking {
  overflow: auto;
  display: block;
  /*padding: 6px 6px;*/
  background: White;
  position: absolute;
bottom: 0;
width: 100%;
}

  .seeking .seeking-bar{
    background: #f5f5f5;
    /*margin: 5px;*/
    height: 10px;
    cursor: pointer;
    position: relative;
  }

    .seeking .seeking-bar .seeking-bar-meter{
      margin: 0;
      padding: 0;
      width: 0%;
      background: #7ed321;
      height: 100%;
      opacity: .7;
    }

    .seeking .seeking-bar .seeking-bar-guide{
      margin: 0;
      padding: 0;
      width: 0;
      background: #f5bb00;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.5;
    }
