.container-fluid > .row{
  background-color: #7ED321;
}

#video-column{
   position: fixed;
   padding: 0;
   top: 150px;
}

#lyric-column{
   padding-left: 0px;
   padding-right: 0px;
   background-attachment: fixed;
}

#lyricsDisplay {
  padding-top: 50px;
  color: #dcd9d9;
  background: rgba(0, 0, 0, 0.8);
}

  #lyricsDisplay .song-info {
    margin: 20px;
  }

  #lyricsDisplay .lyric-line {
    cursor: pointer;
    font-size: 18px;
    margin: 0;
  }

  #lyricsDisplay .lyric-line.hovered {
      background-color: rgba(93, 65, 174, 0.75);
    }

  #lyricsDisplay h4, #lyricsDisplay .lyric-line p {
    padding-left: 30px;
    position: relative;
  }

  #lyricsDisplay h4 {
    margin-top: 1.4em;
  }

    #lyricsDisplay .lyric-line p{
      margin: 0;
    }

  #lyricsDisplay .current {
      color: #7ED321;
  }

  #lyricsDisplay .glyphicon-pencil{
    opacity: 0;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 5px;
  }

  #lyricsDisplay .add-heading-btn{
    top: 2px;
    font-size: 0.6em;
    opacity: 0;
    color: yellow;
    width: 100%;
    left: 0;
    text-align: center;
    text-decoration: none !important;
    display: block;
    padding: 0.4em;
  }


  #buttons button{
    height: 90px;
    width: 120px;
    color: White;
    weight: bold;
  }

.controls {
  width: 100%;
  z-index: 1000;
  /*position: sticky;*/
  top: 0px;
  background: #5D41AE;
}
@media (min-width: 768px) {
.controls {

  }
}

  .controls button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: white 2px solid;
    background: none;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    font-size: 20px;
  }

  .controls button:focus {
    outline: none;
  }

  .controls .seeking {
    overflow: auto;
    display: block;
    /*padding: 6px 6px;*/
    background: White;
  }

    .controls .seeking .seeking-bar{
      background: #f5f5f5;
      /*margin: 5px;*/
      height: 10px;
      cursor: pointer;
      position: relative;
    }

      .controls .seeking .seeking-bar .seeking-bar-meter{
        margin: 0;
        padding: 0;
        width: 0%;
        background: #5D41AE;
        height: 100%;
        opacity: .7;
      }

      .controls .seeking .seeking-bar .seeking-bar-guide{
        margin: 0;
        padding: 0;
        width: 0;
        background: #5D41AE;
        /*background: #B8E986;*/
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.5;
      }
