
body {
  background-color: Black;
  color: White;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, strong {
  font-family: 'Baloo', cursive;
}

.navbar{
    background-color: White;
}

.navbar-nav>li>a, .navbar-form  {
    text-transform: uppercase;
    border-left: 1px solid #EFF2F5;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    border-radius: 0px;
    color: #45494E;
    line-height: 31px;
    height: 61px;
    margin: 0px;
}

#navbar .navbar-nav>li>a.accent {
  color: #5D41AE;
  font-weight: bold;
}

#navbar .navbar-nav>li>a:hover {
  background-color: #d9e4cd;
}

nav .navbar-brand {
    padding: 0px 40px;
}

#navbar .navbar-form input{
    font-size: 15px;
    font-weight: 400;
    height: 60px;
    line-height: 1.2em;
    box-shadow: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 0px;
    width: 400px;
}

#navbar .navbar-form input::-webkit-input-placeholder{
  color: #D2D6DF;
  letter-spacing: 1px;
  font-weight: 100;
}

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:0px solid #ccc !important;
}

.glyphicon {
  color: #D2D6DF;
  font-size: 15px;
  line-height: 55px;
}

#lyricsDisplay {
  padding-top: 20px;
}

  #lyricsDisplay p {
    padding: .2em .6em .3em;
    cursor: pointer;
    white-space: nowrap;
  }

  #lyricsDisplay p:hover {
      background-color: #5D41AE;
      border-radius: .25em;
    }

  .current {
    color: #7ED321;
  }
  #lyricInput{
    display: none;
  }

  #lyric {
    width: 80%;
  }

  #buttons button{
    height: 90px;
    width: 120px;
    color: White;
    weight: bold;
  }
