
body {
  background-color: Black;
  color: White;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, strong {
  font-family: 'Baloo', cursive;
}

.navbar{
    background-color: White;
}

.navbar-nav>li>a, .navbar-form  {
    text-transform: uppercase;
    border-left: 1px solid #EFF2F5;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    border-radius: 0px;
    color: #45494E;
    line-height: 31px;
    height: 61px;
    margin: 0px;
}

.navbar-nav>li>a.user {
  padding-left: 50px;
}

  .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: 15px;
}

#navbar .navbar-nav>li>a.accent {
  color: #5D41AE;
  font-weight: bold;
}

#navbar .navbar-nav>li>a:hover {
  background-color: #d9e4cd;
}

.navbar .navbar-brand {
    padding: 0px 40px;
    font-family: 'Baloo';
    line-height: 61px;
    font-size: 28px;
    color: #5D41AE;
}
.navbar .navbar-brand span {
    color: #7ED321;
}
#navbar .navbar-form input{
    font-size: 15px;
    font-weight: 400;
    height: 60px;
    line-height: 1.2em;
    box-shadow: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 0px;
    width: 400px;
}

#navbar .navbar-form input::-webkit-input-placeholder{
  color: #D2D6DF;
  letter-spacing: 1px;
  font-weight: 100;
}

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:0px solid #ccc;
}

nav .glyphicon {
  color: #D2D6DF;
  font-size: 15px;
  line-height: 55px;
}

#video-column{
   position: fixed;
   padding: 0;
}

#lyric-column{
   /*background: #43a934;*/
   padding-left: 0px;
   padding-right: 0px;
}


#lyricsDisplay {
  padding-top: 100px;
  color: #dcd9d9;
  background: rgba(0, 0, 0, 0.8);
}

  #lyricsDisplay p {
    padding: 1em 0.5em .1em;
    cursor: pointer;
    white-space: nowrap;
    font-size: 18px;
    margin: 0;
    position: relative;
  }

  #lyricsDisplay p:hover {
      background-color: #5D41AE;
    }

      #lyricsDisplay p.has-heading {
        padding-top: 0px;

      }

  #lyricsDisplay h4 {
    margin-top: 1.4em;
    padding-left: 0.5em;
  }

  #lyricsDisplay .current {
    color: black;
      color: #7ED321;
  }

  #lyricsDisplay .glyphicon-pencil{
    opacity: 0;
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }

  #lyricsDisplay .add-heading-btn{
    position: absolute;
    top: 2px;
    font-size: 0.6em;
    opacity: 0;
    color: yellow;
    width: 100%;
    left: 0;
    text-align: center;
    text-decoration: none !important;
  }


  #buttons button{
    height: 90px;
    width: 120px;
    color: White;
    weight: bold;
  }
